{% extends "base.html" %}

{% block title %}Edit Reservation{% endblock %}

{% block content %}
<div class="about-container">
    <div class="form-container">
    <h2 class="courts-heading">Edit Reservation</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="registration-label">{{ form.court.label }}</label>
            {{ form.court }}
            {{ form.court.errors }}
        </div>
        <div class="form-group">
            <label class="registration-label">{{ form.date.label }}</label>
            {{ form.date }}
            {{ form.date.errors }}
        </div>
        <div class="form-group">
            <label class="registration-label">{{ form.timeslot.label }}</label>
            {{ form.timeslot }}
            {{ form.timeslot.errors }}
        </div>
        <div class="button-group">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="{% url 'courts' %}" class="btn btn-secondary">Discard Changes</a>
        </div>
    </div>
</div>
{% endblock %}

