{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Club</title>
    <link rel="manifest" href="{% static 'manifest.json' %}">
</head>
<body>
    <h1>Welcome to the Tennis Club</h1>
    <p>Install this as an app!</p>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("{% static 'js/serviceworker.js' %}")
            .then(() => console.log('Service Worker Registered'));
        }
    </script>
</body>
</html>
