{% extends "base.html" %}

{% block title %}Tennis Club - Home{% endblock %}

{% block content %}
<div class="home-container">
    <h1 class="home-heading">Welcome to the Tennis Club</h1>
    <p class="home-description">Dear Club Member,</p><br>
    <p class="home-description">Welcome! As a member of our tennis club, you have access to a range of features that make it easy to connect with other players and book courts.</p><br>
    <p class="home-description">To get in touch with fellow members, you can use our club platform, where you'll find a list of players and their contact information. This allows you to quickly arrange matches with others you'd like to play with.</p><br>
    <p class="home-description">Booking courts is also straightforward. Simply log into our club website to check court availability and reserve a slot that suits your schedule.</p><br>
    <p class="home-description">Wishing you great games and enjoyable moments on the courts!</p><br>
    <p class="home-description">Best regards,</p><br>
    <p class="home-description">Patryk Walaszkowski</p><br>
    <p class="home-description">WSB Tennis Club</p><br>
</div>
{% endblock %}